<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css">
    <title>New message</title>
  </head>
  <body>
    <h1>Welcome to your message board</h1>
    <a href="/" class="a-index-redirect">Go back to messages</a>
    <form action="/new" method="post">
      <h3>Write a new message</h3>
      <input type="text" name="user" minlength="3" placeholder="Username">
      <input type="text" name="text" minlength="1" placeholder="Message">
      <button type="submit" name="message">Send message</button>
    </form>
  </body>
</html>
